@page "/Admin/DossierDetail"
@model SmartRouting.Pages.Admin.DossierDetailInfo.AdminGlcDossierDetailInfoModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "اطلاعات روزانه حواله‌ها";
    int i = 1;
}

<div class="row">
    <div>
        <button id="AddBtn" type="button" class="btn btn-success btn-sm">
            اضافه کردن حواله جدید
        </button>
        <button id="AddFromExcel" type="button" class="btn btn-primary btn-sm">
            آپلود فایل اکسل
        </button>
    </div>
</div>

@if (Model.ErrorMessage != "")
{
    <div class="alert alert-danger mt-2" role="alert">
        @Model.ErrorMessage
    </div>
}
<!-- The Add Modal -->
<div class="modal fade" id="AddModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                اضافه کردن حواله جدید
            </div>
            <form asp-page-handler="AddOrEditDossierDetail" asp-route-isEdit="@Model.IsEdit" asp-route-id="@Model.EditId" method="post">
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td class="row">
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailNumber" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailNumber" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailNumber" class="text-danger"></span>
                                </div>
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailCustomer" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailCustomer" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailCustomer" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="row">
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailCmobile" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailCmobile" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailCmobile" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="row">
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailCaddress" class="form-lable"></label>
                                </div>
                                <div class="col-10">
                                    <textarea asp-for="AddDsossierDetail.DossierDetailCaddress" class="form-control"></textarea>
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailCaddress" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="row">
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailLength" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailLength" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailLength" class="text-danger"></span>
                                </div>
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailWidth" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailWidth" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailWidth" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="row">
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailProduct" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailProduct" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailProduct" class="text-danger"></span>
                                </div>
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailQuantity" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailQuantity" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailQuantity" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="row">
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailHour" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailHour" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailHour" class="text-danger"></span>
                                </div>
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailType" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <input asp-for="AddDsossierDetail.DossierDetailType" class="form-control" />
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailType" class="text-danger"></span>
                                </div>
                            </td>
                            <td class="row">
                                <div class="col-2">
                                    <label asp-for="AddDsossierDetail.DossierDetailDriverId" class="form-lable"></label>
                                </div>
                                <div class="col-4">
                                    <select asp-for="AddDsossierDetail.DossierDetailDriverId" class="form-select">
                                        @if (Model.glcdriverInfoViewModels != null)
                                        {
                                            @foreach (var item in Model.glcdriverInfoViewModels)
                                            {
                                                <option value="@item.GlcdriverInfoId">@item.GlcdriverNationalCode</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="AddDsossierDetail.DossierDetailDriverId" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    @if (Model.IsEdit)
                    {
                        <button type="submit" class="btn btn-outline-warning">ویرایش</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-success">اضافه کردن</button>
                    }
                    <button type="button" id="Cancel" class="btn btn-outline-danger">بستن</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- The Excel Upload Modal -->
<div class="modal fade" id="ExcelUploadModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                آپلود فایل اکسل
            </div>
            <form asp-page-handler="ExcelUploadDossierDetail" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <table class="table">
                        <tr class="row">
                            <td class="col-2">
                                <label asp-for="excelUploadModel.ExcelFile" class="form-label"></label>
                            </td>
                            <td class="col">
                                <input asp-for="excelUploadModel.ExcelFile" class="form-control" />
                                <span asp-validation-for="excelUploadModel.ExcelFile" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailNumber" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailNumber" class="form-control" value="1"/>
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailNumber" class="text-danger"></span>
                            </td>
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailCustomer" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailCustomer" class="form-control" value="2" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailCustomer" class="text-danger"></span>
                            </td>
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailCmobile" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailCmobile" class="form-control" value="3" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailCmobile" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailLength" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailLength" class="form-control" value="4" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailLength" class="text-danger"></span>
                            </td>
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailWidth" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailWidth" class="form-control" value="5" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailWidth" class="text-danger"></span>
                            </td>
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailProduct" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailProduct" class="form-control" value="6" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailProduct" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailQuantity" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailQuantity" class="form-control" value="7" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailQuantity" class="text-danger"></span>
                            </td>
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailHour" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailHour" class="form-control" value="8" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailHour" class="text-danger"></span>
                            </td>
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailType" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailType" class="form-control" value="9" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailType" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">
                                <label asp-for="excelUploadModel.Excel_DossierDetailDriverId" class="form-label"></label>
                            </td>
                            <td class="col-2">
                                <input asp-for="excelUploadModel.Excel_DossierDetailDriverId" class="form-control" value="10" />
                                <span asp-validation-for="excelUploadModel.Excel_DossierDetailDriverId" class="text-danger"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">آپلود</button>
                    <button type="button" id="Cancel" class="btn btn-outline-danger">بستن</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.glcdossierDetailInfoViewModels.Count > 0 || Model.glcdossierDetailInfoViewModels != null)
{
    <table class="table table-sm table-bordered mt-3">
        <thead class="thead-light">
            <tr>
                <td class="text-center fw-bold pt-2">شماره</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailNumber)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailCustomer)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailCmobile)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailCaddress)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailLength)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailWidth)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailProduct)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailQuantity)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailHour)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailType)</td>
                <td class="text-center fw-bold pt-2">@Html.LabelFor(model => Model.glcdossierDetailInfoViewModels.First().DossierDetailDriverId)</td>
                <td class="text-center fw-bold pt-2">حذف و ویرایش</td>
            </tr>
        </thead>
        @foreach (var item in Model.glcdossierDetailInfoViewModels)
        {

            <tbody>
                <tr>
                    <td class="text-center pt-4">@i</td>
                    <td class="text-center pt-4">@item.DossierDetailNumber</td>
                    <td class="text-center pt-4">@item.DossierDetailCustomer</td>
                    <td class="text-center pt-4">@item.DossierDetailCmobile</td>
                    <td class="text-center pt-4">@item.DossierDetailCaddress</td>
                    <td class="text-center pt-4">@item.DossierDetailLength</td>
                    <td class="text-center pt-4">@item.DossierDetailWidth</td>
                    <td class="text-center pt-4">@item.DossierDetailProduct</td>
                    <td class="text-center pt-4">@item.DossierDetailQuantity</td>
                    <td class="text-center pt-4">@item.DossierDetailHour</td>
                    <td class="text-center pt-4">@item.DossierDetailType</td>
                    <td class="text-center pt-4">
                        @if (Model.glcdriverInfoViewModels != null)
                        {
                            @Model._glcdriverInfoServices.GetEntity(item.DossierDetailDriverId).GlcdriverNationalCode
                        }
                    </td>
                    <td class="row px-0 py-3 mx-0">
                        <form asp-page-handler="DeleteDossierDetail" asp-route-id="@item.GlcdossierDetailInfoId" method="post" class="col-12 px-0 text-center">
                            <button type="submit" class="btn btn-sm btn-outline-danger DeleteNavyTypeModalBtn w-75 my-2">حذف</button>
                        </form>
                        <form asp-page-handler="EditDossierDetail" asp-route-id="@item.GlcdossierDetailInfoId" method="post" class="col-12 mt-2 px-0 text-center">
                            <button type="submit" class="btn btn-sm btn-outline-warning EditNavyTypeBtn w-75 my-2">ویرایش</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            @if (true)
            {
                i++;
            }
        }
    </table>
}
@if (Model.IsEdit)
{
    <script type="text/javascript">
        window.onload = function () {
            $('#AddModal').modal('show');
        };
    </script>
}

@section Scripts{
    <script>
        $('#Cancel').on('click', function () {
            window.location.href = "/Admin/DossierDetail";
        })
        $('#AddFromExcel').on('click',function(){
            $('#ExcelUploadModal').modal('show');
        })
    </script>
}

